h1 {
  span {
	color: blue;
  }
}

h2 {
  color: red;
}

h4 {
  color: green;
  filter: blur(2px);
}

img {
  filter: contrast(3);
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  width: 400px;
}